<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 投诉类型Mapper接口的Mapping映射 -->
<mapper
	namespace="com.neusoft.ht.complain.mapper.IComplainTypeMapper">

	<!-- 启用此映射的全局缓存 -->
	<cache />

	<!-- 无关联属性的结果映射 -->
	<resultMap id="ComplainTypeResultMap" type="ComplainType">
		<id property="typeno" column="TYPENO" />
		<result property="typename" column="TYPENAME" />
	</resultMap>

	<!-- 使用内嵌式ResultMap实现方式的关联属性的结果映射 -->
	<resultMap id="ComplainTypeResultMapWithHomeComplain"
		type="ComplainType" extends="ComplainTypeResultMap">
		<collection property="homeComplains"
			resultMap="com.neusoft.ht.complain.mapper.IHomeComplainMapper.HomeComplainResultMap" />
	</resultMap>

	<resultMap id="ComplainTypeResultMapWithHouseComplain"
		type="ComplainType" extends="ComplainTypeResultMap">
		<collection property="houseComplains"
			resultMap="com.neusoft.ht.complain.mapper.IHouseComplainMapper.PublicHouseComplainResultMap" />
	</resultMap>

	<insert id="create" keyProperty="typeno" keyColumn="TYPENO"
		useGeneratedKeys="true" flushCache="true">
		insert into ht_complaintype
		(TYPENAME)
		values
		(#{typename})
	</insert>


	<delete id="delete" flushCache="true">
		delete from ht_complaintype where
		TYPENO=#{typeno}
	</delete>

	<update id="update" flushCache="true">
		update ht_complaintype
		<set>
			<if test="typename != null">TYPENAME=#{typename}</if>
		</set>
		where TYPENO=#{typeno}
	</update>

	<select id="selectComplianTypeModelByAll"
		resultMap="ComplainTypeResultMap">
		select *
		from
		ht_complaintype
	</select>

	<select id="selectComplianTypeModelByTypeNo"
		resultMap="ComplainTypeResultMap">
		select * from
		ht_complaintype where TYPENO=#{typeno}
	</select>

	<!-- 使用IFNULL函数判断count函数结果是否为null, 为null返回0 -->
	<select id="selectCountByAll" resultType="int">
		select
		IFNULL(count(TypeNo), 0) from ht_complaintype
	</select>

	<select id="selectListByAllWithPage"
		resultMap="ComplainTypeResultMap">
		select * from ht_complaintype limit #{start},#{end}
	</select>




</mapper>