<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 住宅供热记录Mapper接口Mapping映射 -->   
<mapper namespace="com.neusoft.ht.fee.mapper.IHomeFeeMapper">

	<!-- 无关联属性的结果映射 -->
	<resultMap id="HomeFeeResultMap" type="HomeFee" >
		<id property="feeno" column="FeeNo" />
		<result property="agreefee" column="AgreeFee" />
		<result property="actualfee" column="ActualFee" />
		<result property="debtfee" column="DebtFee" />
		<result property="feedesc" column="FeeDesc" />
		<result property="feestatus" column="FeeStatus" />
	</resultMap>
	
	<!-- 使用内嵌式ResultMap实现方式的关联属性的结果映射 -->
	<resultMap id="HomeFeeResultMapWithHomeAndHeatingPrice" type="HomeFee" extends="HomeFeeResultMap">
		<association property="home" resultMap="com.neusoft.ht.fee.mapper.IHomeMapper.HomeResultMapWithNeighbourHoodAndHouseType"/>
		<association property="heatingprice" resultMap="com.neusoft.ht.fee.mapper.IHeatingPriceMapper.HeatingPriceRusultMap"/>
	</resultMap>

	<insert id="insert"  parameterType="HomeFee" keyProperty="feeno"  keyColumn="FEENO" useGeneratedKeys="true" flushCache="true" >
		insert into HT_HOMEFEE
		(HOMENO,HEATINGYEAR,AGREEFEE,ACTUALFEE,DEBTFEE,FEEDESC)
		values 
		(#{homeno},#{heatingyear},#{agreefee},#{actualfee},#{debtfee},#{feedesc})
  	</insert>

	<update id="update" flushCache="true">
		update HT_HOMEFEE 
		set HOMENO=#{homeno},HEATINGYEAR=#{heatingyear},AGREEFEE=#{agreefee},ACTUALFEE=#{actualfee},DEBTFEE=#{debtfee},FEEDESC=#{feedesc},FEESTATUS=#{feestatus}
		where FEENO=#{feeno}
	</update>
  
	<delete id="delete" flushCache="true">
		delete from HT_HOMEFEE where FEENO=#{feeno}
	</delete>
  
	<select id="selectListByAll" resultMap="HomeFeeResultMap">
		select * from HT_HOMEFEE 
	</select>
	
	<!-- 使用IFNULL函数判断count函数结果是否为null, 为null返回0 -->
  	<select id="selectCountByAll" resultType="int">
   		select IFNULL(count(FEENO), 0) from HT_HOMEFEE
  	</select>
  

	<!-- 取得特定居民供热记录，取关联的居民表和年度供热价格表 -->
	<select id="selectByNoWithHomeAndHeatingPrice" resultMap="HomeFeeResultMapWithHomeAndHeatingPrice">
		select a.*,b.HOMENAME,b.HEATINGAREA,b.HEATINGSTATUS,c.HEATINGDAYS,d.HOODNAME from HT_HOMEFEE a 
	  	inner join HT_HOME b on a.HOMENO=b.HOMENO
	  	inner join HT_HEATINGPRICE c on a.HEATINGYEAR=c.HEATINGYEAR
	  	inner join 
	  	(select home.HOMENO,neighbourhood.HOODNAME 
	  	 from HT_HOME home
	  	 inner join HT_NEIGHBOURHOOD neighbourhood on home.HOODNO=neighbourhood.HOODNO ) d on a.HOMENO=d.HOMENO
	  	where FEENO=#{feeno}
	</select>
	
	<!-- //根据综合检索条件取得居民供热记录列表，取得关联的居民表，取关联的年度供热价格表，分页模式-->
	<select id="selectListByConditionWithHomeAndHeatingPriceWithPage" resultMap="HomeFeeResultMapWithHomeAndHeatingPrice">
		select a.*,b.HOMENAME,b.HEATINGAREA,b.HEATINGSTATUS,c.HEATINGDAYS,d.HOODNAME from HT_HOMEFEE a 
	 	inner join HT_HOME b on a.HOMENO=b.HOMENO
	  	inner join HT_HEATINGPRICE c on a.HEATINGYEAR=c.HEATINGYEAR
  		inner join 
	  	(select home.HOMENO,neighbourhood.HOODNAME 
			from HT_HOME home
			inner join HT_NEIGHBOURHOOD neighbourhood on home.HOODNO=neighbourhood.HOODNO ) d on a.HOMENO=d.HOMENO
	  <where>
	     <if test="hoodno!=0">
	      	and  a.HOMENO in
	      	(select HOMENO from HT_HOME where HOODNO=#{hoodno})

	     </if>
	     <if test="heatingyear!=null and heatingyear!=''">
	     	and a.HEATINGYEAR=#{heatingyear}
	     </if> 
	     <if test="feestatus!=null and feestatus!=''">
	     	and a.FEESTATUS=#{feestatus}
	     </if> 
	  </where>
	    limit #{start},#{rows}
	</select>
	<!-- 使用IFNULL函数判断count函数结果是否为null, 为null返回0 -->
  	<select id="selectCountByAllWithHomeAndHeatingPriceWithPage" resultType="int" >
   		select IFNULL(count(e.FEENO), 0) 
		from (
			select a.*,b.HOMENAME,b.HEATINGAREA,b.HEATINGSTATUS,c.HEATINGDAYS,d.HOODNAME from HT_HOMEFEE a 
	 		inner join HT_HOME b on a.HOMENO=b.HOMENO
	  		inner join HT_HEATINGPRICE c on a.HEATINGYEAR=c.HEATINGYEAR
  			inner join 
	  		(select home.HOMENO,neighbourhood.HOODNAME 
				from HT_HOME home
				inner join HT_NEIGHBOURHOOD neighbourhood on home.HOODNO=neighbourhood.HOODNO ) d on a.HOMENO=d.HOMENO
		 	<where>
	    	 <if test="hoodno!=0">
		      	and a.HOMENO in
	      		(select HOMENO from HT_HOME where HOODNO=#{hoodno})
		     </if>
		     <if test="heatingyear!=null and heatingyear!=''">
		     	and a.HEATINGYEAR=#{heatingyear}
		     </if> 
		     <if test="feestatus!=null and feestatus!=''">
		     	and a.FEESTATUS=#{feestatus}
		     </if> 
	  	</where>
		 ) e
	  	
  	</select>
	
</mapper>