<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 居民Mapper接口Mapping映射 -->   
<mapper namespace="com.neusoft.ht.fee.mapper.IHomeMapper">
  <!-- 启用此映射的全局缓存 -->
  <cache/>
  <!-- 无关联属性的结果映射 -->
  <resultMap id="HomeResultMap" type="Home" >
  	<id property="homeno" column="HOMENO" />
  	<result property="heatingcode" column="HeatingCode" />
  	<result property="homename" column="HomeName" />
  	<result property="buildingcode" column="BuildingCODE" />
  	<result property="departmentcode" column="DepartmentCode" />
  	<result property="floorcode" column="FloorCode" />
  	<result property="housecode" column="HouseCode" />
  	<result property="homearea" column="HomeArea" />
  	<result property="direction" column="Direction" />
  	<result property="tel" column="Tel" />
  	<result property="mobile" column="Mobile" />
  	<result property="mail" column="Mail" />
  	<result property="qq" column="QQ" />
  	<result property="heatingstatus" column="HeatingStatus" />
  	<result property="heatingarea" column="HeatingArea" />
  </resultMap>

  <!-- 使用内嵌式ResultMap实现方式的关联属性的结果映射 -->
  <resultMap id="HomeResultMapWithNeighbourHoodAndHouseType" type="Home" extends="HomeResultMap">
  	<association property="neighbourhood" resultMap="com.neusoft.ht.fee.mapper.INeighbourHoodMapper.NeighbourHoodResultMap"/>
  	<association property="housetype" resultMap="com.neusoft.ht.fee.mapper.IHouseTypeMapper.HouseTypeResultMap"/>
  </resultMap>

  
  <insert id="insert"  parameterType="Home" keyProperty="homeno"  keyColumn="HOMENO" useGeneratedKeys="true" flushCache="true" >
   insert into HT_HOME 
   (HeatingCode,HOODNO,HOUSETYPENO,HomeName,
   BuildingCODE,DepartmentCode,FloorCode,
   HouseCode,HomeArea,Direction,Tel,Mobile,Mail,
   QQ,HeatingStatus,HeatingArea) 
   values 
   (#{heatingcode},#{neighbourhood.hoodno},#{housetype.typeno},
   #{homename},#{buildingcode},#{departmentcode},#{floorcode},
   #{housecode},#{homearea},#{direction},#{tel},#{mobile},
   #{mail},#{qq},#{heatingstatus},#{heatingarea})
  </insert>
 
  
  <update id="update" flushCache="true">
   update HT_HOME 
   set HeatingCode=#{heatingcode},HOODNO=#{neighbourhood.hoodno},HOUSETYPENO=#{housetype.typeno},HomeName=#{homename},BuildingCODE=#{buildingcode},DepartmentCode=#{departmentcode},FloorCode=#{floorcode},HouseCode=#{housecode},
   HomeArea=#{homearea},Direction=#{direction},Tel=#{tel},Mobile=#{mobile},QQ=#{qq},HeatingStatus=#{heatingstatus},HeatingArea=#{heatingarea}
   where HOMENO=#{homeno}
  </update>
  
  <delete id="delete" flushCache="true">
   delete from HT_HOME where HOMENO=#{homeno}
  </delete>
  
  <select id="selectListByAll" resultMap="HomeResultMapWithNeighbourHoodAndHouseType">
   select * from HT_HOME 
  </select>

  <select id="selectByNo" resultMap="HomeResultMapWithNeighbourHoodAndHouseType">
   select * from HT_HOME  
   where  HOMENO=#{homeno}
  </select>
  
   <!-- 取关联小区和户型的特定居民 -->
  <select id="selectByNoWithHoodNoAndHouseTypeNo" resultMap="HomeResultMapWithNeighbourHoodAndHouseType">
  select a.*,b.HOODNAME,c.TYPENAME from HT_HOME a 
  inner join HT_NEIGHBOURHOOD b on a.HOODNO=b.HOODNO
  inner join HT_HOUSETYPE c on a.HOUSETYPENO=c.TYPENO
  where HOMENO=#{homeno}
  </select>
  
  <select id="selectListByAllWithPage" resultMap="HomeResultMapWithNeighbourHoodAndHouseType">
   select * from  HT_HOME  
   limit #{start},#{rows}
  </select>

<!-- 使用IFNULL函数判断count函数结果是否为null, 为null返回0 -->
  <select id="selectCountByAll" resultType="int">
   select IFNULL(count(HOMENO), 0) from HT_HOME
  </select>
  
  <!-- 根据综合检索条件取得居民列表，取得关联 的小区和户型，分页模式 -->
  <select id="selectListByConditionWithHoodNoAndHouseTypeNoWithPage" resultMap="HomeResultMapWithNeighbourHoodAndHouseType">
  select a.*,b.HOODNAME,c.TYPENAME from HT_HOME a 
  inner join HT_NEIGHBOURHOOD b on a.HOODNO=b.HOODNO
  inner join HT_HOUSETYPE c on a.HOUSETYPENO=c.TYPENO
  <where>
     <if test="hoodno!=0">
      and a.HOODNO=#{hoodno}
     </if>
     <if test="housetypeno!=0">
     and a.HOUSETYPENO=#{housetypeno}
     </if> 
  </where>
    limit #{start},#{rows}
  </select>
  
  <!-- 修改供热状态 -->
  <update id="ChangeHeatingStatus" flushCache="true">
   update HT_HOME 
   set HeatingStatus=#{heatingstatus}
   where HOMENO=#{homeno}
  </update>
  
</mapper>
